---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Colors from "../components/Colors.astro";
import Section from "../components/Section.astro";
import { favoriteThings } from "../data";

const categories = await favoriteThings
---

<Layout title="My Favorite Things">
	<script>
		sessionStorage.setItem('navigation', 'true');
	</script>

	<h1>My <span class="text-gradient">Favorite</span> ...</h1>
	{
		categories.map(({ folder, items }) => (
			<>
				<Section title={folder}>
					<ul role="list" class="link-card-grid">
						{items.map((item) => (
							<Card {...item} />
						))}
					</ul>
				</Section>
			</>
		))
	}
	<Section title="HTML Colors">
		<Colors />
	</Section>
</Layout>

<style>
	main, footer {
		margin: auto;
		padding: 1.5rem;
		max-width: 650x;
	}
	footer {
		padding: 3rem;
		max-width: 650x;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		padding: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: var(--accent);
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: var(--accent);
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
