---
const colors = [
	"salmon",
	"burlywood",
	"steelblue",
	"papayawhip",
	"tomato",
	"dodgerblue",
	"coral",
	"mediumseagreen",
	"mediumpurple",
	"sandybrown",
	"lightslategray",
];
---

<ul role="list">
    {colors.map(color => <li class="color" style={`--color: ${color};`}>
        <span>{color}</span>
    </li>)}
</ul>

<style>
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: .5rem;
        color: black;
        
	}
	li {
		border-radius: 0.35rem;
        overflow: hidden;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
        position: relative;
	}
    li:before {
        content: '';
        background: var(--color);
        filter: contrast(1.8) brightness(1.6);
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    span {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        display: inline-block;
        background-image: linear-gradient(45deg, var(--color), var(--color) 30%, transparent 60%);
        background-size: 200%;
        background-position: -40px;
        transition: .25s;
    }
    li:hover span {
        background-position: -80px;
        mix-blend-mode: difference;
    }
</style>